Submission 1 Membuat Model NLP dengan TensorFlow

BBC Text Classification

# Download dataset

In [ ]:
!wget --no-check-certificate \
  https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv \
  -O /tmp/bbc-text.csv

--2021-07-10 03:51:26--  https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.153.128, 74.125.128.128, 74.125.143.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.153.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5057493 (4.8M) [text/csv]
Saving to: ‘/tmp/bbc-text.csv’

/tmp/bbc-text.csv   100%[===================>]   4.82M  --.-KB/s    in 0.03s

2021-07-10 03:51:26 (152 MB/s) - ‘/tmp/bbc-text.csv’ saved [5057493/5057493]

# Read dataset

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/tmp/bbc-text.csv')

In [ ]:
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [ ]:
df['category'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

# One-hot encoding

In [ ]:
category = pd.get_dummies(df.category)
df_new = pd.concat([df, category], axis=1)
df_new = df_new.drop(columns='category')
df_new

                                                   text  business  ...  sport  tech
0     tv future in the hands of viewers with home th...         0  ...      0     1
1     worldcom boss  left books alone  former worldc...         1  ...      0     0
2     tigers wary of farrell  gamble  leicester say ...         0  ...      1     0
3     yeading face newcastle in fa cup premiership s...         0  ...      1     0
4     ocean s twelve raids box office ocean s twelve...         0  ...      0     0
...                                                 ...       ...  ...    ...   ...
2220  cars pull down us retail figures us retail sal...         1  ...      0     0
2221  kilroy unveils immigration policy ex-chatshow ...         0  ...      0     0
2222  rem announce new glasgow concert us band rem h...         0  ...      0     0
2223  how political squabbles snowball it s become c...         0  ...      0     0
2224  souness delight at euro progress boss graeme s...         0  ...      1     0

[2225 rows x 6 columns]

# Data Preparation

In [ ]:
# Converting to numpy array
text = df_new['text'].values
label = df_new[['business', 'entertainment', 'politics', 'sport', 'tech']].values

In [ ]:
# Split the dataset, where validation set is equal to 0.2
from sklearn.model_selection import train_test_split
text_train, text_test, label_train, label_test = train_test_split(text, label, test_size=0.2)

In [ ]:
# Tokenization
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=5000, oov_token='-')
tokenizer.fit_on_texts(text_train) 
tokenizer.fit_on_texts(text_test)

In [ ]:
# Sequence and Padding
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
sequence_train= tokenizer.texts_to_sequences(text_train)
sequence_test = tokenizer.texts_to_sequences(text_test)
 
padded_train = pad_sequences(sequence_train)
padded_test = pad_sequences(sequence_test)

# Building Model

In [ ]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])

In [ ]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('val_accuracy')>0.9):
      print("\nAccuracy >90%!")
      self.model.stop_training = True
callbacks = myCallback()

In [22]:
history = model.fit(padded_train, label_train, epochs=50, callbacks=[callbacks],
                    validation_data=(padded_test, label_test), verbose=2)

Epoch 1/50
56/56 - 162s - loss: 1.6002 - accuracy: 0.2449 - val_loss: 1.5887 - val_accuracy: 0.2944
Epoch 2/50
56/56 - 160s - loss: 1.4061 - accuracy: 0.3978 - val_loss: 1.3405 - val_accuracy: 0.4157
Epoch 3/50
56/56 - 161s - loss: 1.0290 - accuracy: 0.5202 - val_loss: 0.9701 - val_accuracy: 0.6112
Epoch 4/50
56/56 - 160s - loss: 0.6596 - accuracy: 0.7247 - val_loss: 1.5267 - val_accuracy: 0.6202
Epoch 5/50
56/56 - 161s - loss: 0.5921 - accuracy: 0.7848 - val_loss: 0.8306 - val_accuracy: 0.7169
Epoch 6/50
56/56 - 162s - loss: 0.2090 - accuracy: 0.9315 - val_loss: 0.8569 - val_accuracy: 0.7551
Epoch 7/50
56/56 - 161s - loss: 0.1092 - accuracy: 0.9691 - val_loss: 0.9444 - val_accuracy: 0.7753
Epoch 8/50
56/56 - 162s - loss: 0.0423 - accuracy: 0.9860 - val_loss: 1.1677 - val_accuracy: 0.7528
Epoch 9/50
56/56 - 177s - loss: 0.0129 - accuracy: 0.9983 - val_loss: 1.0605 - val_accuracy: 0.7910
Epoch 10/50
56/56 - 164s - loss: 0.0049 - accuracy: 0.9989 - val_loss: 1.0733 - val_accuracy: 0.7843
Epoch 11/50
56/56 - 159s - loss: 0.0025 - accuracy: 1.0000 - val_loss: 1.1748 - val_accuracy: 0.7798
Epoch 12/50
56/56 - 156s - loss: 9.6517e-04 - accuracy: 1.0000 - val_loss: 1.2126 - val_accuracy: 0.7865
Epoch 13/50
56/56 - 163s - loss: 6.4461e-04 - accuracy: 1.0000 - val_loss: 1.2319 - val_accuracy: 0.7955
Epoch 14/50
56/56 - 160s - loss: 4.9325e-04 - accuracy: 1.0000 - val_loss: 1.2479 - val_accuracy: 0.7955
Epoch 15/50
56/56 - 169s - loss: 3.9701e-04 - accuracy: 1.0000 - val_loss: 1.2699 - val_accuracy: 0.7978
Epoch 16/50
56/56 - 162s - loss: 3.2487e-04 - accuracy: 1.0000 - val_loss: 1.2814 - val_accuracy: 0.7978
Epoch 17/50
56/56 - 161s - loss: 2.7433e-04 - accuracy: 1.0000 - val_loss: 1.2979 - val_accuracy: 0.7978
Epoch 18/50
56/56 - 165s - loss: 2.3286e-04 - accuracy: 1.0000 - val_loss: 1.3113 - val_accuracy: 0.8000
Epoch 19/50
56/56 - 158s - loss: 2.0354e-04 - accuracy: 1.0000 - val_loss: 1.3266 - val_accuracy: 0.8000
Epoch 20/50
56/56 - 167s - loss: 1.7593e-04 - accuracy: 1.0000 - val_loss: 1.3375 - val_accuracy: 0.8000
Epoch 21/50
56/56 - 158s - loss: 1.5565e-04 - accuracy: 1.0000 - val_loss: 1.3487 - val_accuracy: 0.8000
Epoch 22/50
56/56 - 156s - loss: 1.3834e-04 - accuracy: 1.0000 - val_loss: 1.3579 - val_accuracy: 0.8000
Epoch 23/50
56/56 - 154s - loss: 1.2391e-04 - accuracy: 1.0000 - val_loss: 1.3655 - val_accuracy: 0.8067
Epoch 24/50
56/56 - 155s - loss: 1.1128e-04 - accuracy: 1.0000 - val_loss: 1.3758 - val_accuracy: 0.8067
Epoch 25/50
56/56 - 155s - loss: 1.0074e-04 - accuracy: 1.0000 - val_loss: 1.3854 - val_accuracy: 0.8067
Epoch 26/50
56/56 - 156s - loss: 9.1217e-05 - accuracy: 1.0000 - val_loss: 1.3943 - val_accuracy: 0.8090
Epoch 27/50
56/56 - 156s - loss: 8.3062e-05 - accuracy: 1.0000 - val_loss: 1.4029 - val_accuracy: 0.8090
Epoch 28/50
56/56 - 157s - loss: 7.6111e-05 - accuracy: 1.0000 - val_loss: 1.4093 - val_accuracy: 0.8090
Epoch 29/50
56/56 - 160s - loss: 6.9664e-05 - accuracy: 1.0000 - val_loss: 1.4166 - val_accuracy: 0.8090
Epoch 30/50
56/56 - 159s - loss: 6.4352e-05 - accuracy: 1.0000 - val_loss: 1.4250 - val_accuracy: 0.8090
Epoch 31/50
56/56 - 159s - loss: 5.9132e-05 - accuracy: 1.0000 - val_loss: 1.4321 - val_accuracy: 0.8112
Epoch 32/50
56/56 - 160s - loss: 5.4579e-05 - accuracy: 1.0000 - val_loss: 1.4386 - val_accuracy: 0.8112
Epoch 33/50
56/56 - 160s - loss: 5.0509e-05 - accuracy: 1.0000 - val_loss: 1.4450 - val_accuracy: 0.8112
Epoch 34/50
56/56 - 160s - loss: 4.6862e-05 - accuracy: 1.0000 - val_loss: 1.4519 - val_accuracy: 0.8112
Epoch 35/50
56/56 - 160s - loss: 4.3779e-05 - accuracy: 1.0000 - val_loss: 1.4575 - val_accuracy: 0.8135
Epoch 36/50
56/56 - 160s - loss: 4.0728e-05 - accuracy: 1.0000 - val_loss: 1.4641 - val_accuracy: 0.8112
Epoch 37/50
56/56 - 159s - loss: 3.7902e-05 - accuracy: 1.0000 - val_loss: 1.4683 - val_accuracy: 0.8112
Epoch 38/50
56/56 - 159s - loss: 3.5495e-05 - accuracy: 1.0000 - val_loss: 1.4749 - val_accuracy: 0.8112
Epoch 39/50
56/56 - 159s - loss: 3.3275e-05 - accuracy: 1.0000 - val_loss: 1.4788 - val_accuracy: 0.8112
Epoch 40/50
56/56 - 159s - loss: 3.1220e-05 - accuracy: 1.0000 - val_loss: 1.4859 - val_accuracy: 0.8112
Epoch 41/50
56/56 - 159s - loss: 2.9370e-05 - accuracy: 1.0000 - val_loss: 1.4930 - val_accuracy: 0.8112
Epoch 42/50
56/56 - 160s - loss: 2.7655e-05 - accuracy: 1.0000 - val_loss: 1.4956 - val_accuracy: 0.8090
Epoch 43/50
56/56 - 162s - loss: 2.5924e-05 - accuracy: 1.0000 - val_loss: 1.5005 - val_accuracy: 0.8135
Epoch 44/50
56/56 - 162s - loss: 2.4400e-05 - accuracy: 1.0000 - val_loss: 1.5059 - val_accuracy: 0.8112
Epoch 45/50
56/56 - 161s - loss: 2.3122e-05 - accuracy: 1.0000 - val_loss: 1.5137 - val_accuracy: 0.8090
Epoch 46/50
56/56 - 161s - loss: 2.1722e-05 - accuracy: 1.0000 - val_loss: 1.5158 - val_accuracy: 0.8090
Epoch 47/50
56/56 - 161s - loss: 2.0560e-05 - accuracy: 1.0000 - val_loss: 1.5203 - val_accuracy: 0.8090
Epoch 48/50
56/56 - 158s - loss: 1.9467e-05 - accuracy: 1.0000 - val_loss: 1.5264 - val_accuracy: 0.8112
Epoch 49/50
56/56 - 159s - loss: 1.8415e-05 - accuracy: 1.0000 - val_loss: 1.5305 - val_accuracy: 0.8112
Epoch 50/50
56/56 - 159s - loss: 1.7513e-05 - accuracy: 1.0000 - val_loss: 1.5361 - val_accuracy: 0.8112